.background_color_bronze {
  background-color: #cd7f32; /* Бронзовый */
}
.background_color_silver {
  background-color: #c0c0c0; /* Серебряный */
}
.background_color_gold {
  background-color: #ffd700; /* Золотой */
}
.background_color_active {
  background-color: #4caf50; /* Зеленый (активный) */
}
.background_color_unactive {
  background-color: #9e9e9e; /* Серый (неактивный) */
}
