.main {
  margin: 80px 10%;
}
.main h2 {
  font-size: 53px;
  font-weight: 700;
  text-align: left;
}
.stages {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

@media screen and (max-width: 768px) {
  .main {
    margin: 50px 5%;
  }
  .main h2 {
    font-size: 8vw;
    font-weight: 700;
  }
}
