.main {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
  padding: 20px 40px;
  border-radius: 20px;
  box-sizing: border-box;

  width: 50%;

  font-size: 22px;
}

.main h2 {
  margin: 0;
  text-align: center;
  font-size: 26px;
}

.inputs {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.input {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
}

.button {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}

@media screen and (max-width: 1350px) {
  .main {
    padding: 15px 30px;
  }
  .main h2 {
    font-size: 24px;
  }
  .button {
    font-size: 16px;
  }
}
@media screen and (max-width: 650px) {
  .main {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .main {
    padding: 10px 20px;
  }
  .main h2 {
    font-size: 22px;
  }
  .button {
    padding: 8px 16px;
  }
}
