.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video {
  position: absolute;
  top: 0; /* Устанавливаем в 0, чтобы видео начиналось с верхнего левого угла */
  left: 0; /* Устанавливаем в 0, чтобы видео начиналось с верхнего левого угла */
  width: 100%; /* Занимает всю ширину родительского элемента */
  object-fit: cover; /* Сохранить пропорции видео, обрезая его, если нужно */
}
