.main {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.select {
  background-color: #f0f0f0;
  color: #333333;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.select span {
  width: 100%;
  text-align: center;
}

.arrow {
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(135deg);
}

.list {
  position: absolute;
  margin-top: 10px;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #a0a096;
  border-radius: 8px;
  background-color: white;
  color: #333333;
  overflow: hidden;
  z-index: 10;

  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.list-active {
  opacity: 1;
  max-height: 600px; /* Достаточно, чтобы вместить все элементы */
}

.option {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.option:hover {
  background: #8ceb64;
}

.selected {
  background: #7ed956;
}
