.main {
  gap: 5px;
  width: 100%;
}

.main div {
  display: flex;
  gap: 5px;
  width: 100%;
}

.main textarea {
  resize: none; /* запрет изменения размера */
  border: 1px solid #ccc; /* зафиксировать бордер */
  outline: none; /* убрать стандартную подсветку */
  padding: 8px;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
}

.main textarea:focus {
  border: 1px solid #ccc; /* оставляем тот же бордер при фокусе */
  outline: none; /* убираем подсветку браузера */
}

.button {
  border-radius: 5px;
}

.main img {
  height: 20px;
  width: 20px;
}
