.main {
  margin: 80px 10%;
  border-bottom: 1px solid #e5e5e5;
}
.main h2 {
  font-size: 53px;
  font-weight: 700;
  text-align: left;
}
@media screen and (max-width: 1280px) {
  .main h2 {
    text-align: center;
    font-size: 5vh;
  }
}
@media screen and (max-width: 768px) {
  .main h2 {
    font-size: 8vw;
  }
}
