.main {
  border-top: 1px solid #ccc;
  padding: 20px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
  font-weight: 700;
}
.question p {
  margin: 0;
}
.answer {
  max-height: 0;
  opacity: 0;
  margin-top: 0;
  padding: 0 12px;
  border-left: 2px solid #7ed956;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, margin-top 0.5s ease;

  font-size: 16px;
  font-weight: 400;
}

.answer p {
  margin: 0;
}

.answer.open {
  max-height: 100px;
  opacity: 1;
  margin-top: 10px;
  padding: 8px 12px;
}

.icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.initial {
  transform: rotate(45deg);
}

.rotated {
  transform: rotate(0deg);
}

@media screen and (max-width: 768px) {
  .question {
    font-size: 18px;
  }

  .answer {
    font-size: 14px;
  }
}
